<div class="top">
  <app-recipe-search (searchEvent)="onSearch($event)"></app-recipe-search>
</div>

<div class="filters">
  <app-recipe-filter
    (categoryChange)="onCategoryChange($event)"
  ></app-recipe-filter>
</div>

<div *ngIf="!loading && recipes.length > 0" class="recipe-list">
  <h2>Список рецептов</h2>

  <div class="recipe-grid">
    <div
      *ngFor="let recipe of recipes"
      class="recipe-card"
      (click)="goToRecipe(recipe.id)"
    >
      <img [src]="recipe.image" alt="{{ recipe.title }}" class="recipe-image" />

      <div class="recipe-flag">
        <img [src]="getFlagUrl(recipe.category)" alt="Flag" class="flag-icon" />
      </div>

      <div class="recipe-info">
        <h3 class="recipe-title">{{ recipe.title }}</h3>
        <p class="recipe-ingredients">
          {{ getIngredientNames(recipe.ingredients) }}
        </p>
      </div>
    </div>
  </div>
</div>
